<script type="text/javascript">
  var x1 = 0, y1 = 0, x2 = 0, y2 = 0;
  var count = 0;
  var id = "camera1";
  var button = "cam1";

  $( document ).ready(function() {
    var roiForm = $('<form></form>');
    roiForm.attr("name", "roiForm");
    roiForm.attr("method", "post");
    roiForm.attr("action", "./submit");
    roiForm.appendTo('body');

    $('#save').click(function(){
      $('#save').hide();
      $('#cancel').hide();
      $('#reset').show();

      var div = $('<div></div>');
      div.attr("id", "d"+id);

      for(var i =0; i< $('#' + id).children('.blurRoi').length; i++){
        $('#' + id).children('.blurRoi').eq(i).draggable( "option", "disabled", true );
        $('#' + id).children('.blurRoi').eq(i).children('.sectionRoi').eq(0).resizable( "option", "disabled", true );

        var node = $('#' + id).children('.blurRoi').eq(i).children().eq(0);
        var left = $('#' + id).children('.blurRoi').eq(i).position().left;
        var top = $('#' + id).children('.blurRoi').eq(i).position().top;

        var input = $('<input/>');
        input.attr('type', 'hidden');
        input.attr('name', 'data');
        input.attr('value', [id.substring(6,id.length), node.position().left +left, node.position().top +top, node.width(), node.height()]);

        div.append(input);
      }
      roiForm.append(div);
    });

    <% var j = 0; %>
    <% for(var i =0; i<data.camNum; i++) {%>
      <% if(data2.length > i){ %>
        <% for (j ;j < data3.length; j++) { %>
          <% if(data2[i].id == data3[j].camID){ %>
            var x1 = <%= data3[j].leftX %>;
            console.log(x1);
            var width = <%= data3[j].width %>;
            var y1 = <%= data3[j].leftY %>;
            var height = <%= data3[j].height %>;
            console.log(y1);

            $("#camera<%= i+1%>").append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x1 + 'px;top: ' + (y1-500) + 'px;width: ' + width + 'px;height: ' + height + 'px;"></div></div>');
            $('#section'+count).resizable();
            $('#blur'+count).draggable({
                appendTo: 'body',
                start: function(event, ui) {
                    isDraggingMedia = true;
                },
                stop: function(event, ui) {
                    isDraggingMedia = false;
                }
            });
            $("#camera<%= i+1%>").children().eq(0).text('1');
            $("#cam<%= i+1%>").attr('class', 'completeCam');
            $('#blur'+count).draggable( "option", "disabled", true );
            $('#section'+count).resizable( "option", "disabled", true );
            $('#reset').show();

            count++;
          <% }else {%>
            <% break; %>
            <% }%>
        <% }%>
        $("#camera<%= i+1%>").selectable({
          start: function(event, ui) {
            var offset = $(this).offset();
            x1 = (event.pageX - offset.left);
            y1 = (event.pageY - offset.top);
          },
          stop: function(event, ui) {
            var offset = $(this).offset();
            x2 = (event.pageX - offset.left);
            y2 = (event.pageY - offset.top);

            if (y1 <= y2 && x1 <= x2)
              $("#camera<%= i+1%>").append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x1 + 'px;top: ' + (y1-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
            else if (y1 <= y2)
              $("#camera<%= i+1%>").append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x2 + 'px;top: ' + (y1-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
            else if (x1 > x2)
              $("#camera<%= i+1%>").append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x2 + 'px;top: ' + (y2-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
            else
              $("#camera<%= i+1%>").append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x1 + 'px;top: ' + (y2-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');

            $('#section'+count).resizable();
            $('#blur'+count).draggable({
                appendTo: 'body',
                start: function(event, ui) {
                    isDraggingMedia = true;
                },
                stop: function(event, ui) {
                    isDraggingMedia = false;
                }
            });
            count++;
            $('#save').show();
            $('#cancel').show();
            $('#reset').hide();
          }
        });
      <% } %>
      if($("#camera<%= i+1%>").children().length > 2 && $("#camera<%= i+1%>").children('img').css("display") != "none"){
        id = "camera<%= i+1%>";
        button = "cam<%= i+1%>";
        $('#save').trigger("click");
        $("#camera<%= i+1%>").selectable( "destroy" );
      }
      $('#cam<%= i+1%>').click(function(){
        $('#'+id).hide();
        $('#camera<%= i+1%>').show();

        if ($('#'+id).children().eq(0).text() == '1'){
          $('#'+button).attr('class', 'completeCam');
        }else{
          $('#'+button).attr('class', 'roiCam');
        }
        $('#cam<%= i+1%>').attr('class', 'clickedCam');
        id = "camera<%= i+1%>";
        button = "cam<%= i+1%>";

        if ($('#camera<%= i+1%>').children().eq(0).text() == '1'){
          $('#cancel').hide();
          $('#save').hide();
          $('#reset').show();
        }else if ($("#camera<%= i+1%>").children().length > 2 && $("#camera<%= i+1%>").children('img').css("display") != "none"){
          $('#save').show();
          $('#cancel').show();
          $('#reset').hide();
        }else if($("#camera<%= i+1%>").children('img').css("display") != "none"){
          $('#save').hide();
          $('#cancel').hide();
          $('#reset').hide();
        }else {
          $('#save').hide();
          $('#cancel').hide();
          $('#reset').hide();
        }
      });

      $('#camera<%= i+1%>').hide();
    <% } %>

    $('#camera1').show();
    $('#cam1').attr('class', 'clickedCam');
    id = "camera1";
    button = "cam1";

    $('#save').click(function(){
      $('#save').hide();
      $('#cancel').hide();
      $('#reset').show();

      $('#'+id).children().eq(0).text('1');
      $( "#" + id).selectable( "destroy" );
    });

    $('#reset').click(function(){
      $('#' + id).children('div').remove();
      $('#'+id).children().eq(0).text('0');
      $('#save').hide();
      $('#cancel').hide();
      $('#reset').hide();
      $("#d"+id).remove();

      $("#" + id).selectable({
        start: function(event, ui) {
          var offset = $(this).offset();
          x1 = (event.pageX - offset.left);
          y1 = (event.pageY - offset.top);
        },
        stop: function(event, ui) {
          var offset = $(this).offset();
          x2 = (event.pageX - offset.left);
          y2 = (event.pageY - offset.top);

          if (y1 <= y2 && x1 <= x2)
            $("#" + id).append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x1 + 'px;top: ' + (y1-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
          else if (y1 <= y2)
            $("#" + id).append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x2 + 'px;top: ' + (y1-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
          else if (x1 > x2)
            $("#" + id).append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x2 + 'px;top: ' + (y2-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
          else
            $("#" + id).append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x1 + 'px;top: ' + (y2-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');

          $('#section'+count).resizable();
          $('#blur'+count).draggable({
              appendTo: 'body',
              start: function(event, ui) {
                  isDraggingMedia = true;
              },
              stop: function(event, ui) {
                  isDraggingMedia = false;
              }
          });
          count++;
          $('#save').show();
          $('#cancel').show();
          $('#reset').hide();
        }
      });
    });

    $('#cancel').click(function(){
      $('#'+id).children().eq($('#'+id).children().length-1).remove();
      $('#'+id).children().eq(0).text('0');
      if($('#'+id).children().length < 2){
        $('#cancel').hide();
        $('#save').hide();
      }
    });

    $('#submit').click(function(){
      roiForm.submit();
    });

    $('#refresh').click(function(){
      var data = {'update' : "setting"};
      data = JSON.stringify(data);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', './refresh');
      xhr.setRequestHeader('Content-type', "application/json");
      xhr.send(data);

      xhr.addEventListener('load', function(){
        var result = JSON.parse(xhr.responseText);

        $("#"+id).children('img').eq(0).attr("src", "../resources/images/conf/" +  result.data[Number(id.substring(6,id.length))-1].image);
        $("#"+id).children('img').eq(0).css("display", "inline");
        $("#"+id).children('div').eq(1).css("display", "none");

        $("#" + id).selectable({
          start: function(event, ui) {
            var offset = $(this).offset();
            x1 = (event.pageX - offset.left);
            y1 = (event.pageY - offset.top);
          },
          stop: function(event, ui) {
            var offset = $(this).offset();
            x2 = (event.pageX - offset.left);
            y2 = (event.pageY - offset.top);

            if (y1 <= y2 && x1 <= x2)
              $("#" + id).append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x1 + 'px;top: ' + (y1-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
            else if (y1 <= y2)
              $("#" + id).append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x2 + 'px;top: ' + (y1-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
            else if (x1 > x2)
              $("#" + id).append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x2 + 'px;top: ' + (y2-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
            else
              $("#" + id).append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x1 + 'px;top: ' + (y2-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');

            $('#section'+count).resizable();
            $('#blur'+count).draggable({
                appendTo: 'body',
                start: function(event, ui) {
                    isDraggingMedia = true;
                },
                stop: function(event, ui) {
                    isDraggingMedia = false;
                }
            });
            count++;
            $('#save').show();
            $('#cancel').show();
            $('#reset').hide();
          }
        });
      });
    });
  });
</script>
