<div id="adminROI">
  <div class="roi">
    <div id = "titleContent">
    </div>
    <div id="roiContent">
      <div class="title">
        ROI 설정
      </div>
      <div id="explain">
        <b style = "color: rgb(74, 189,158)">1.</b> 영역을 지정할 카메라를 선택한다.<br>
        <b style = "color: rgb(74, 189,158)">2.</b> 사진 위에 인원수를 셀 영역을 표시한다. <br>
        <b style = "color: rgb(74, 189,158)">3.</b> 우측 하단의 확인 버튼을 눌러 설정을 완료한다. <br>
        <b style = "color: rgb(74, 189,158)">4.</b> 모든 영역을 저장했다면 완료 버튼을 눌러 설정을 완료한다.
      </div>
      <div id="roiTab">
        <%for(var i=0; i<data.camNum; i++){ %>
        <% if(data2.length > i){ %>
        <div class="roiCam" id="cam<%= data2[i].id%>">CAMERA <%= i+1%></div><br />
        <% } else{ %>
        <div class="roiCam" id="cam<%= i+1%>">CAMERA <%=i+1%></div><br />
        <% }}%>
      </div>
      <div id="roiImage">
        <% for(var i =0; i<data.camNum; i++) {%>
          <% if(data2.length > i){ %>
        <div id="camera<%= data2[i].id%>" class="eachCamera">
          <img src="../resources/images/conf/<%= data2[i].image%>" id="image<%= data2[i].id%>" class="image"  width = "640px" draggable="false" />
        </div>
        <% }else{ %>
          <div id="camera<%= i+1%>" class="eachCamera">
            <div class = "noImage">
              아직 이미지가 존재하지 않습니다.<br>
              <button type="button" id = "refresh">새로고침</button>을 눌러주세요.
            </div>
          </div>
        <% }%>
        <% }%>
      </div>
      <div class="button">
        <button type= 'button' id="submit">저장</button><br/>
        <button type="button" id="cancel">리셋</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<script type="text/javascript">
  var x1 = 0,
    y1 = 0,
    x2 = 0,
    y2 = 0;
  var count = 0;
  var id = "camera1";
  var button = "cam1";
  var roiForm = document.createElement('form');
  roiForm.name = 'roiForm';
  roiForm.method = 'post';
  roiForm.action = './submit';

  <% for(var i =0; i<data.camNum; i++) {%>
    <% if(data2.length > i){ %>
      $("#camera<%= data2[i].id%>").selectable({
        start: function(event, ui) {
          var offset = $(this).offset();
          x1 = (event.pageX - offset.left);
          y1 = (event.pageY - offset.top);
        },
        stop: function(event, ui) {
          var offset = $(this).offset();
          x2 = (event.pageX - offset.left);
          y2 = (event.pageY - offset.top);
          console.log("X1: " + x1 + "  Y1: " + y1);
          console.log("X2: " + x2 + "  Y2: " + y2);
          count++;
          if($("#camera<%= data2[i].id %>").children().length >= 1){
            document.getElementById('submit').style.display = 'inline-block';
            document.getElementById('cancel').style.display = 'inline-block';
          }
          var input = document.createElement('input');
          input.setAttribute("type", "hidden");
          input.setAttribute("name", "data");
          input.setAttribute("value", [<%= data2[i].id %>,x1,x2,y1,y2]);
          roiForm.appendChild(input);

          if (y1 <= y2 && x1 <= x2)
            $("#camera<%= data2[i].id %>").append('<div class = "blurRoi" style="left: ' + x1 + 'px;top: ' + y1 + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div>');
          else if (y1 <= y2) {
            $("#camera<%= data2[i].id %>").append('<div class = "blurRoi" style="left: ' + x2 + 'px;top: ' + y1 + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div>');
          } else if (x1 > x2) {
            $("#camera<%= data2[i].id %>").append('<div class = "blurRoi" style="left: ' + x2 + 'px;top: ' + y2 + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div>');
          } else
            $("#camera<%= data2[i].id %>").append('<div class = "blurRoi" style="left: ' + x1 + 'px;top: ' + y2 + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div>');
        }
      });
      document.getElementById('cam<%= data2[i].id%>').addEventListener('click', function() {
        if ($("#"+id).children().length > 1){
          document.getElementById(button).className = 'completeCam';
        }else{
          document.getElementById(button).className = 'roiCam';
        }
        document.getElementById(id).style.display = 'none';
        //if (!($('#' +'cam<%= data2[i].id%>').hasClass('completeCam'))) {
          document.getElementById('cam<%= data2[i].id%>').className = 'clickedCam';
        //}
        document.getElementById('camera<%= data2[i].id%>').style.display = 'block';
        id = "camera<%= data2[i].id%>";
        button = "cam<%= data2[i].id%>";
      });
      document.getElementById('camera<%= data2[i].id%>').style.display = 'none';
      <% }else{ %>
        document.getElementById('cam<%= i+1%>').addEventListener('click', function() {
          if ($("#"+id).children().length > 1){
            document.getElementById(button).className = 'completeCam';
          }else{
            document.getElementById(button).className = 'roiCam';
          }
          document.getElementById(id).style.display = 'none';
          //if (!($('#' +'cam<%= i+1 %>').hasClass('completeCam'))) {
            document.getElementById('cam<%= i+1%>').className = 'clickedCam';
          //}
          document.getElementById('camera<%= i+1%>').style.display = 'block';
          id = "camera<%= i+1%>";
          button = "cam<%= i+1%>";
        });
        document.getElementById('camera<%= i+1%>').style.display = 'none';
      <% }} %>
    document.getElementById('camera1').style.display = 'block';
  document.getElementById('cam1').className = 'clickedCam';

  /*cancel button click */
  document.getElementById('cancel').addEventListener('click', function() {
    document.getElementById(button).className = 'clickedCam';
    $('#' + id).selectable("enable");
    $('#roi-form #count').val(count - $('#' + id).children('div').length / 4);
    $('#' + id).children('div').remove();
    document.getElementById('submit').style.display = 'none';
    document.getElementById('cancel').style.display = 'none';
  });

  /*submit button click*/
  document.getElementById('submit').addEventListener('click', function() {
        document.getElementById(button).className = 'completeCam';
        $('#' + id).selectable("disable");
        document.getElementById(id).style.display = 'none';
        var flag = 0;
        var i, tid, tbutton;

        for (i = 0; i < $('#roiImage').children().length; i++) {
          console.log(i);
          tid = $('#roiImage').children().eq(i).attr('id');
          tbutton = "cam" + tid[tid.length - 1];;
          console.log(tid);
          console.log(tbutton);
          console.log($('#' + tbutton).hasClass('completeCam'));
          if (!($('#' + tbutton).hasClass('completeCam'))) {
            flag = 1;
            break;
          }
        }
        if (flag == 1) {
          id = $('#roiImage').children().eq(i).attr('id');
          button = "cam" + id[id.length - 1];
          document.getElementById(button).className = 'clickedCam';
          document.getElementById(id).style.display = 'block';

          if($("#"+id).children().length > 1){
            document.getElementById('submit').style.display = 'inline-block';
            document.getElementById('cancel').style.display = 'inline-block';
          }else{
            document.getElementById('submit').style.display = 'none';
            document.getElementById('cancel').style.display = 'none';
          }
        } else {
          var input = document.createElement('input');
          input.setAttribute("type", "hidden");
          input.setAttribute("name", "count");
          input.setAttribute("value", count);
          roiForm.appendChild(input);
          document.body.appendChild(roiForm);
          roiForm.submit();
        }
      });
</script>
