<div id="adminROI">
  <div class="roi">
    <div id = "titleContent">
    </div>
    <div id="roiContent">
      <div class="title">
        ROI 설정
      </div>
      <div id="explain">
        <b>ROI 설정방법</b><br>
        <b style = "color: rgb(74, 189,158)">1.</b> 원하는 카메라를 선택합니다.<br>
        <b style = "color: rgb(74, 189,158)">2.</b> 사진에서 원하는 영역을 선택하여 크기, 위치를 조절하고 [저장] 버튼 클릭합니다.<br>
        <b style = "color: rgb(74, 189,158)">3.</b> 원하는 영역만큼 추가합니다.
      </div>
      <div style = "text-align: right;"><button type= 'button' id="submit">완료</button></div>
      <div id="roiTab">
        <%for(var i=0; i<data.camNum; i++){ %>
        <div class="roiCam" id="cam<%= i+1%>">CAMERA <%=i+1%></div><br />
        <% }%>
      </div>
      <div id="roiImage">
        <% for(var i =0; i<data.camNum; i++) {%>
          <div id="camera<%= i+1%>" class="eachCamera">
            <div style="display: none">0</div>
            <% if(data2.length > i){ %>
              <img src="../resources/images/conf/<%= data2[i].image%>" id="image<%= i+1%>" class="image"  width = "640px" height = "480px" draggable="false" />
            <% }else{ %>
              <img id="image<%= i+1%>" class="image"  style = "display:none;" width = "640px" height = "480px" draggable="false" />
              <div class = "noImage">
                아직 이미지가 존재하지 않습니다.<br>
                <button type="button" id = "refresh">새로고침</button>을 눌러주세요.
              </div>
            <% }%>
          </div>
        <% }%>
      </div>
      <div class="button">
        <div><button type="button" id="cancel">취소</button></div>
        <div><button type="button" id="reset">리셋</button></div>
        <div><button type= 'button' id="save">저장</button></div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
