<div id="adminROI">
  <div class="roi">
    <div id = "titleContent">
    </div>
    <div id="roiContent">
      <div class="title">
        ROI 설정
      </div>
      <div id="explain">
        <b>ROI 설정방법</b><br>
        <b style = "color: rgb(74, 189,158)">1.</b> 원하는 카메라를 선택합니다.<br>
        <b style = "color: rgb(74, 189,158)">2.</b> 사진에서 원하는 영역을 선택하여 크기, 위치를 조절하고 [저장] 버튼 클릭합니다.<br>
        <b style = "color: rgb(74, 189,158)">3.</b> 원하는 영역만큼 추가합니다.
      </div>
      <div style = "text-align: right;"><button type= 'button' id="submit">완료</button></div>
      <div id="roiTab">
        <%for(var i=0; i<data.camNum; i++){ %>
        <% if(data2.length > i){ %>
        <div class="roiCam" id="cam<%= data2[i].id%>">CAMERA <%= i+1%></div><br />
        <% } else{ %>
        <div class="roiCam" id="cam<%= i+1%>">CAMERA <%=i+1%></div><br />
        <% }}%>
      </div>
      <div id="roiImage">
        <% for(var i =0; i<data.camNum; i++) {%>
          <% if(data2.length > i){ %>
        <div id="camera<%= data2[i].id%>" class="eachCamera">
          <div style="display: none">0</div>
          <img src="../resources/images/conf/<%= data2[i].image%>" id="image<%= data2[i].id%>" class="image"  width = "640px" height = "480px" draggable="false" />
        </div>
        <% }else{ %>
          <div id="camera<%= i+1%>" class="eachCamera">
            <div style="display: none">0</div>
            <img id="image<%= i+1%>" class="image"  style = "display:none;" width = "640px" height = "480px" draggable="false" />
            <div class = "noImage">
              아직 이미지가 존재하지 않습니다.<br>
              <button type="button" id = "refresh">새로고침</button>을 눌러주세요.
            </div>
          </div>
        <% }%>
        <% }%>
      </div>
      <div class="button">
        <!--<div><button type= 'button' id="addDiv">영역 추가</button></div>-->
        <div><button type="button" id="cancel">취소</button></div>
        <div><button type="button" id="reset">리셋</button></div>
        <div><button type= 'button' id="save">저장</button></div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<script type="text/javascript">
  var x1 = 0,
    y1 = 0,
    x2 = 0,
    y2 = 0;
  var count = 0;
  var id = "camera1";
  var button = "cam1";
  var roiForm = document.createElement('form');
  roiForm.name = 'roiForm';
  roiForm.method = 'post';
  roiForm.action = './submit';

  <% for(var i =0; i<data.camNum; i++) {%>
    <% if(data2.length > i){ %>
      $("#camera<%= data2[i].id%>").selectable({
        start: function(event, ui) {
          var offset = $(this).offset();
          x1 = (event.pageX - offset.left);
          y1 = (event.pageY - offset.top);
        },
        stop: function(event, ui) {
          var offset = $(this).offset();
          x2 = (event.pageX - offset.left);
          y2 = (event.pageY - offset.top);
          console.log("X1: " + x1 + "  Y1: " + y1);
          console.log("X2: " + x2 + "  Y2: " + y2);
          count++;
          if($("#camera<%= data2[i].id %>").children().length >= 1){
            document.getElementById('save').style.display = 'inline-block';
            document.getElementById('cancel').style.display = 'inline-block';
          }
          var input = document.createElement('input');
          input.setAttribute("type", "hidden");
          input.setAttribute("name", "data");
          input.setAttribute("value", [<%= data2[i].id %>,x1,x2,y1,y2]);
          roiForm.appendChild(input);

          if (y1 <= y2 && x1 <= x2)
            $("#camera<%= data2[i].id %>").append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x1 + 'px;top: ' + (y1-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
          else if (y1 <= y2) {
            $("#camera<%= data2[i].id %>").append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x2 + 'px;top: ' + (y1-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
          } else if (x1 > x2) {
            $("#camera<%= data2[i].id %>").append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x2 + 'px;top: ' + (y2-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');
          } else
            $("#camera<%= data2[i].id %>").append('<div class="blurRoi" id = "blur'+count+'"><div class = "sectionRoi" id = "section'+count+'" style="left: ' + x1 + 'px;top: ' + (y2-500) + 'px;width: ' + Math.abs(x2 - x1) + 'px;height: ' + Math.abs(y2 - y1) + 'px;"></div></div>');

          $('#section'+count).resizable();
          $('#blur'+count).draggable({
              appendTo: 'body',
              start: function(event, ui) {
                  isDraggingMedia = true;
              },
              stop: function(event, ui) {
                  isDraggingMedia = false;
                  // blah
              }
          });
          count++;
        }
      });

      document.getElementById('cam<%= data2[i].id%>').addEventListener('click', function() {
        if ($('#'+id).children().eq(0).text() == '1'){
          document.getElementById(button).className = 'completeCam';
        }else{
          document.getElementById(button).className = 'roiCam';
        }

        console.log($("#camera<%= data2[i].id%>").children('img').css("display"));
        console.log($("#camera<%= data2[i].id%>").children().length);
        if ($('#camera<%= data2[i].id%>').children().eq(0).text() == '1'){
          document.getElementById('save').style.display = 'none';
          //document.getElementById('addDiv').style.display = 'none';
          document.getElementById('reset').style.display = 'inline-block';
        }else if ($("#camera<%= data2[i].id%>").children().length > 2 && $("#camera<%= i+1%>").children('img').css("display") != "none"){
          document.getElementById('save').style.display = 'inline-block';
          //document.getElementById('addDiv').style.display = 'inline-block';
          document.getElementById('cancel').style.display = 'inline-block';
          document.getElementById('reset').style.display = 'none';
        }else if($("#camera<%= data2[i].id%>").children('img').css("display") != "none"){
          document.getElementById('save').style.display = 'none';
          //document.getElementById('addDiv').style.display = 'inline-block';
          document.getElementById('cancel').style.display = 'none';
          document.getElementById('reset').style.display = 'none';
        }else {
          document.getElementById('save').style.display = 'none';
          //document.getElementById('addDiv').style.display = 'inline-block';
          document.getElementById('cancel').style.display = 'none';
          document.getElementById('reset').style.display = 'none';
        }

        document.getElementById(id).style.display = 'none';
        document.getElementById('cam<%= data2[i].id%>').className = 'clickedCam';
        document.getElementById('camera<%= data2[i].id%>').style.display = 'block';
        id = "camera<%= data2[i].id%>";
        button = "cam<%= data2[i].id%>";
      });
      document.getElementById('camera<%= data2[i].id%>').style.display = 'none';
      <% }else{ %>
        document.getElementById('cam<%= i+1%>').addEventListener('click', function() {
          if ($('#' + id).children().eq(0).text() == '1'){
            document.getElementById(button).className = 'completeCam';
          }else{
            document.getElementById(button).className = 'roiCam';
          }
          console.log($("#camera<%= i+1%>").children('img').css("display"));
          if ($('#camera<%= i+1%>').children().eq(0).text() == '1'){
            document.getElementById('save').style.display = 'none';
            //document.getElementById('addDiv').style.display = 'none';
            document.getElementById('cancel').style.display = 'inline-block';
          }else if ($("#camera<%= i+1%>").children().length > 3 && $("#camera<%= i+1%>").children('img').css("display") != "none"){
            document.getElementById('save').style.display = 'inline-block';
            //document.getElementById('addDiv').style.display = 'inline-block';
            document.getElementById('cancel').style.display = 'inline-block';
          }else if($("#camera<%= i+1%>").children('img').css("display") != "none"){
            document.getElementById('save').style.display = 'none';
          //  document.getElementById('addDiv').style.display = 'inline-block';
            document.getElementById('cancel').style.display = 'none';
          }else {
            document.getElementById('save').style.display = 'none';
          //  document.getElementById('addDiv').style.display = 'none';
            document.getElementById('cancel').style.display = 'none';
          }
          document.getElementById(id).style.display = 'none';
          document.getElementById('cam<%= i+1%>').className = 'clickedCam';
          document.getElementById('camera<%= i+1%>').style.display = 'block';
          id = "camera<%= i+1%>";
          button = "cam<%= i+1%>";
        });
        document.getElementById('camera<%= i+1%>').style.display = 'none';
    <% }} %>
  document.getElementById('camera1').style.display = 'block';
  document.getElementById('cam1').className = 'clickedCam';

  /*addDiv click*/
  /*
  document.getElementById('addDiv').addEventListener('click', function() {
    $('#'+id).append('<div class="blurRoi" id = "blur'+count+'"><div class="resize" id="resize'+count+'"></div></div>');
    $('#resize'+count).resizable();
    $('#blur'+count).draggable({
        appendTo: 'body',
        start: function(event, ui) {
            isDraggingMedia = true;
        },
        stop: function(event, ui) {
            isDraggingMedia = false;
            // blah
        }
    });
    count++;
    document.getElementById('save').style.display = 'inline-block';
    document.getElementById('cancel').style.display = 'inline-block';
    document.getElementById('addDiv').style.display = 'inline-block';
  });
*/
  document.getElementById('save').addEventListener('click', function() {
    document.getElementById('save').style.display = 'none';
    //document.getElementById('addDiv').style.display = 'none';
    document.getElementById('reset').style.display = 'inline-block';
    document.getElementById('cancel').style.display = 'none';
    //document.getElementById('submit').style.display = 'inline-block';
    $('#'+id).children().eq(0).text('1');
  });

  /*cancel button click */
  document.getElementById('reset').addEventListener('click', function() {
    $('#' + id).children('div').remove();
    $('#'+id).children().eq(0).text('0');
    document.getElementById('save').style.display = 'none';
    document.getElementById('cancel').style.display = 'none';
    document.getElementById('reset').style.display = 'none';
    //document.getElementById('addDiv').style.display = 'inline-block';
  });
  /*cancel button click */
  document.getElementById('cancel').addEventListener('click', function() {
    //$('#' + id).children('div').remove();
    $('#'+id).children().eq($('#'+id).children().length-1).remove();
    $('#'+id).children().eq(0).text('0');
    //console.log($('#'+id).children().length);
    if($('#'+id).children().length <= 2){
      document.getElementById('cancel').style.display = 'none';
    }
    //document.getElementById('save').style.display = 'none';
    //document.getElementById('cancel').style.display = 'none';
    //document.getElementById('addDiv').style.display = 'inline-block';
  });

  /*submit button click*/
  document.getElementById('submit').addEventListener('click', function() {
    var left = $("#roiImage").children().eq(0).children('img').eq(0).offset().left;
    var top = $("#roiImage").children().eq(0).children('img').eq(0).offset().top;
    for(var i=0; i < $("#roiImage").children().length; i++){
      var id = $("#roiImage").children().eq(i).attr('id');
      console.log(id.substring(6,id.length));
      console.log($("#roiImage").children().eq(i));
      for(var j=0; j < $("#roiImage").children().eq(i).children('.blurRoi').length; j++){
        console.log($("#roiImage").children().eq(i).children('.blurRoi').eq(j).children().eq(0).offset());
        var node = $("#roiImage").children().eq(i).children('.blurRoi').eq(j).children().eq(0);
        console.log([node.offset().left -left, node.offset().top -top, node.width(), node.height()]);
        var input = document.createElement('input');
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "data");
        input.setAttribute("value", [id.substring(6,id.length), node.offset().left -left, node.offset().top -top, node.width(), node.height()]);
        roiForm.appendChild(input);
      }
    }
    document.body.appendChild(roiForm);
    roiForm.submit();
  });

  /*refresh button ajax*/
  document.querySelector('#refresh').addEventListener('click', function(){
    var data = {'update' : "setting"};
    data = JSON.stringify(data);

    // content-type을 설정하고 데이터 송신
    var xhr = new XMLHttpRequest();
    xhr.open('POST', './refresh');
    xhr.setRequestHeader('Content-type', "application/json");
    xhr.send(data);

    // 데이터 수신이 완료되면 표시
    xhr.addEventListener('load', function(){
      console.log(xhr.responseText);
      var result = JSON.parse(xhr.responseText);
      console.log(result);

      $("#"+id).children('img').eq(0).attr("src", "../resources/images/conf/" +  result.data[Number(id.substring(6,id.length))-1].image);
      $("#"+id).children('img').eq(0).css("display", "inline");
      $("#"+id).children('div').eq(1).css("display", "none");
      //document.getElementById('addDiv').style.display = 'inline-block';
    });
  });

</script>
