<div id="adminROI">
  <div class="roi">
    <div id = "titleContent">
    </div>
    <div id="roiContent">
      <div class="title">
        ROI 설정
      </div>
      <div id="explain">
        <b style = "color: rgb(74, 189,158)">1.</b> 영역을 지정할 카메라를 선택합니다.<br>
        <b style = "color: rgb(74, 189,158)">2.</b> 영역 추가 버튼을 눌러 사진 위에 인원수를 셀 영역을 표시합니다. (크기 조절과 위치 변경이 가능합니다.) <br>
        <b style = "color: rgb(74, 189,158)">3.</b> 우측 하단의 확인 버튼을 눌러 현재 카메라의 설정을 완료합니다. <br>
        <b style = "color: rgb(74, 189,158)">4.</b> 모든 영역을 저장했다면 완료 버튼을 눌러 전체 설정을 완료합니다.<br>
      </div>
      <div id="roiTab">
        <%for(var i=0; i<data.camNum; i++){ %>
        <% if(data2.length > i){ %>
        <div class="roiCam" id="cam<%= data2[i].id%>">CAMERA <%= i+1%></div><br />
        <% } else{ %>
        <div class="roiCam" id="cam<%= i+1%>">CAMERA <%=i+1%></div><br />
        <% }}%>
      </div>
      <div id="roiImage">
        <% for(var i =0; i<data.camNum; i++) {%>
          <% if(data2.length > i){ %>
        <div id="camera<%= data2[i].id%>" class="eachCamera">
          <div style="display: none">0</div>
          <img src="../resources/images/conf/<%= data2[i].image%>" id="image<%= data2[i].id%>" class="image"  width = "640px" draggable="false" />
        </div>
        <% }else{ %>
          <div id="camera<%= i+1%>" class="eachCamera">
            <div style="display: none">0</div>
            <img id="image<%= i+1%>" class="image"  style = "display:none;" width = "640px" draggable="false" />
            <div class = "noImage">
              아직 이미지가 존재하지 않습니다.<br>
              <button type="button" id = "refresh">새로고침</button>을 눌러주세요.
            </div>
          </div>
        <% }%>
        <% }%>
      </div>
      <div class="button">
        <button type= 'button' id="addDiv">영역 추가</button>
        <button type="button" id="cancel">리셋</button>
        <button type= 'button' id="save">저장</button>
        <button type= 'button' id="submit">완료</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<script type="text/javascript">
  var x1 = 0,
    y1 = 0,
    x2 = 0,
    y2 = 0;
  var count = 0;
  var id = "camera1";
  var button = "cam1";
  var roiForm = document.createElement('form');
  roiForm.name = 'roiForm';
  roiForm.method = 'post';
  roiForm.action = './submit';

  <% for(var i =0; i<data.camNum; i++) {%>
    <% if(data2.length > i){ %>
      document.getElementById('cam<%= data2[i].id%>').addEventListener('click', function() {
        if ($('#'+id).children().eq(0).text() == '1'){
          document.getElementById(button).className = 'completeCam';
        }else{
          document.getElementById(button).className = 'roiCam';
        }

        console.log($("#camera<%= data2[i].id%>").children('img').length);
        if ($('#cam<%= data2[i].id%>').children().eq(0).text() == '1'){
          document.getElementById('save').style.display = 'none';
          document.getElementById('submit').style.display = 'inline-block';
          document.getElementById('addDiv').style.display = 'none';
          document.getElementById('cancel').style.display = 'inline-block';
        }else if ($("#camera<%= data2[i].id%>").children().length > 2){
          document.getElementById('save').style.display = 'none';
          document.getElementById('submit').style.display = 'inline-block';
          document.getElementById('addDiv').style.display = 'none';
          document.getElementById('cancel').style.display = 'inline-block';
        }else if($("#camera<%= data2[i].id%>").children('img').length >= 1){
          document.getElementById('save').style.display = 'none';
          document.getElementById('submit').style.display = 'none';
          document.getElementById('addDiv').style.display = 'inline-block';
          document.getElementById('cancel').style.display = 'none';
        }else {
          document.getElementById('save').style.display = 'none';
          document.getElementById('submit').style.display = 'none';
          document.getElementById('addDiv').style.display = 'none';
          document.getElementById('cancel').style.display = 'none';
        }

        document.getElementById(id).style.display = 'none';
        document.getElementById('cam<%= data2[i].id%>').className = 'clickedCam';
        document.getElementById('camera<%= data2[i].id%>').style.display = 'block';
        id = "camera<%= data2[i].id%>";
        button = "cam<%= data2[i].id%>";
      });
      document.getElementById('camera<%= data2[i].id%>').style.display = 'none';
      <% }else{ %>
        document.getElementById('cam<%= i+1%>').addEventListener('click', function() {
          if ($('#' + id).children().eq(0).text() == '1'){
            document.getElementById(button).className = 'completeCam';
          }else{
            document.getElementById(button).className = 'roiCam';
          }
          console.log($("#camera<%= i+1%>").children('img').length);
          if ($('#cam<%= i+1%>').children().eq(0).text() == '1'){
            document.getElementById('save').style.display = 'none';
            document.getElementById('submit').style.display = 'inline-block';
            document.getElementById('addDiv').style.display = 'none';
            document.getElementById('cancel').style.display = 'inline-block';
          }else if ($("#camera<%= i+1%>").children().length > 2){
            document.getElementById('save').style.display = 'none';
            document.getElementById('submit').style.display = 'inline-block';
            document.getElementById('addDiv').style.display = 'none';
            document.getElementById('cancel').style.display = 'inline-block';
          }else if($("#camera<%= i+1%>").children('img').length >= 1){
            document.getElementById('save').style.display = 'none';
            document.getElementById('submit').style.display = 'none';
            document.getElementById('addDiv').style.display = 'inline-block';
            document.getElementById('cancel').style.display = 'none';
          }else {
            document.getElementById('save').style.display = 'none';
            document.getElementById('submit').style.display = 'none';
            document.getElementById('addDiv').style.display = 'none';
            document.getElementById('cancel').style.display = 'none';
          }
          document.getElementById(id).style.display = 'none';
          document.getElementById('cam<%= i+1%>').className = 'clickedCam';
          document.getElementById('camera<%= i+1%>').style.display = 'block';
          id = "camera<%= i+1%>";
          button = "cam<%= i+1%>";
        });
        document.getElementById('camera<%= i+1%>').style.display = 'none';
    <% }} %>
  document.getElementById('camera1').style.display = 'block';
  document.getElementById('cam1').className = 'clickedCam';

  /*addDiv click*/
  document.getElementById('addDiv').addEventListener('click', function() {
    $('#'+id).append('<div class="blurRoi" id = "blur'+count+'"><div class="resize" id="resize'+count+'"></div></div>');
    $('#resize'+count).resizable();
    $('#blur'+count).draggable({
        appendTo: 'body',
        start: function(event, ui) {
            isDraggingMedia = true;
        },
        stop: function(event, ui) {
            isDraggingMedia = false;
            // blah
        }
    });
    count++;
    document.getElementById('save').style.display = 'inline-block';
    document.getElementById('cancel').style.display = 'inline-block';
  });
  document.getElementById('save').addEventListener('click', function() {
    document.getElementById('save').style.display = 'none';
    document.getElementById('addDiv').style.display = 'none';
    document.getElementById('submit').style.display = 'inline-block';
    $('#'+id).children().eq(0).text('1');
  });

  /*cancel button click */
  document.getElementById('cancel').addEventListener('click', function() {
    $('#' + id).children('div').remove();
    document.getElementById('save').style.display = 'none';
    document.getElementById('cancel').style.display = 'none';
    document.getElementById('addDiv').style.display = 'inline-block';
  });

  /*submit button click*/
  document.getElementById('submit').addEventListener('click', function() {
    var left = $("#roiImage").children().eq(0).children('img').eq(0).offset().left;
    var top = $("#roiImage").children().eq(0).children('img').eq(0).offset().top;
    console.log($("#roiImage").children().length);
    for(var i=0; i < $("#roiImage").children().length; i++){
      var id = $("#roiImage").children().eq(i).attr('id');
      console.log(id.substring(6,id.length));
      for(var j=0; j < $("#roiImage").children().eq(i).children('.blurRoi').length; j++){
        console.log($("#roiImage").children().eq(i).children('.blurRoi').eq(0).children().eq(0).offset());
        var node = $("#roiImage").children().eq(i).children('.blurRoi').eq(0).children().eq(0);
        console.log([node.offset().left -left, node.offset().top -top, node.width(), node.height()]);
        var input = document.createElement('input');
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "data");
        input.setAttribute("value", [id.substring(6,id.length), node.offset().left -left, node.offset().top -top, node.width(), node.height()]);
        roiForm.appendChild(input);
      }
    }
    document.body.appendChild(roiForm);
    roiForm.submit();
  });

  /*refresh button ajax*/
  document.querySelector('#refresh').addEventListener('click', function(){
    var data = {'update' : "setting"};
    data = JSON.stringify(data);

    // content-type을 설정하고 데이터 송신
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'http://localhost:10051/setting/refresh');
    xhr.setRequestHeader('Content-type', "application/json");
    xhr.send(data);

    // 데이터 수신이 완료되면 표시
    xhr.addEventListener('load', function(){
      // 문자열 형식으로 변환
      var result = JSON.parse(xhr.responseText);
      // 데이터가 없으면 return 반환
      if(result.result !== 'ok') return;
      // 데이터가 있으면 결과값 표시
      console.log(result);
      //document.querySelector("#"+id).children('img').eq(0).attr("src", result.)
    });
  })
</script>
