<div id="setting1">
  <!--<%= data.sizeW %>-->
    <form action="./update" method="post" id="setting1">
    <div class="info" id="info_camera">
      <table>
        <tr class="info_title">
          <td>카메라 정보</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <td>카메라 해상도</td>
          <td class="info_camera_middle"><input type="text" id="sizeW" value="<%= data.sizeW %>" name = "sizeW" class="input" placeholder="width" required></td>
          <td><input type="text" id="sizeH" name = "sizeH" value="<%= data.sizeH %>" placeholder="height" required></td>
        </tr>
        <tr>
          <td>리사이즈 해상도</td>
          <td class="info_camera_middle"><input type="text" id="resizeW" value="<%= data.resizeW %>" name = "resizeW" class="input" placeholder="width" required></td>
          <td><input type="text" id="resizeH" value="<%= data.resizeH %>" name = "resizeH" placeholder="height" required></td>
        </tr>
        <tr>
          <td>카메라 숫자</td>
          <td class="info_camera_middle">
            <input type="text" id="camNum" value="<%= data.camNum %>" name = "camNum" class="input" placeholder="camNum" required>
          </td>
        </tr>
        </table>
      </div>
      <div class="info" id="info_image">
        <table>
          <tr class="info_title">
            <td class="info_image_left">이미지 저장 정보</td>
          </tr>
          <tr></tr>
          <tr></tr>
         <tr>
           <td class="info_image_left">저장 간격 (초)</td>
           <td>
              <input class="info_camera" type="text" id="saveInterval" value="<%= data.saveInterval %>" name = "saveInterval" class="input" placeholder="saveInterval" required>
           </td>
         </tr>
         <tr>
           <td class="info_image_left">최대 저장 갯수 (개)</td>
           <td>
              <input class="info_camera" type="text" id="saveNum" value="<%= data.saveNum %>" name = "saveNum" class="input" placeholder="saveNum" required>
           </td>
         </tr>
         <tr>
           <td class="info_image_left">최대 저장 기간 (개월)</td>
           <td>
             <input class="info_camera" type="text" id="savePeriod" value="<%= data.savePeriod %>" name = "savePeriod" class="input" placeholder="savePeriod" required>
           </td>
           <!--<td><button class="confirm btn submit" id="confirm_image">확인</button></td>-->
         </tr>
       </table>
       </div>
       <td><button class="confirm btn submit" id="confirm">확인</button></td>
       </form>
       <!--
       <button class="btn" id="change">정보 수정</button>
       <button class="submit btn" id="confirm">확인</button>-->
  </div>
