<!-- picture -->
<div id="cont">
	<%
	var top_pos=161;
	var start = 0;
	var img_check = new Array();
	for(var i=0 ; i<data1.camNum ; i++) {
		img_check[i] = 0;
	}

	for(var i=1 ; i<=data1.camNum ; i++) {
	%>
		<button id="right<%= i %>" style="top:<%= top_pos %>px;" class="right" type="button" value="<%= i %>" onclick="moveLeftScroll(this.value)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
		<button id="left<%= i %>" style="top:<%= top_pos %>px;" class="left" type="button" value="<%= i %>" onclick="moveRightScroll(this.value)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
		<p class="cam_t<%= i %>">CAMERA<%= i %></p>
		<div id="row<%= i %>" class="first" >
		  <div class="total_wrapper<%= i %>">
			<div class="img_wrapper">
		<%
		for(var j=start ; j<data2.length ; j++) {
		%>

		<%
		  if(data2[j].cameraID != i || j==data2.length-1) {
		%>

		<%
			start = j;
			if(j==data2.length-1)	start++;
			break;
		  }
		  img_check[i-1] = 1;
		%>
		<div class="img_date">
		   <img src="./resources/images/original/<%= data2[j].name %>" alt="" value="<%= data2[j].cameraID %>" onclick="showDetail('<%= data2[j].name %>', '<%= data2[j].cameraID %>', '<%= data2[j].regDate %>', '<%= data2[j].peopleCNT %>' );" />
		   <br><p style="display:inline-block;"><%= data2[j].regDate %></p>
		   <p style="display: inline-block; float:right; padding-right: 20px;"><%= data2[j].peopleCNT %>명</p>
		 </div>
		<%

	  	}
		top_pos += 321;
		%>
			</div>
		</div>
		</div>
	<%
	}
	%>

		<!-- detail -->
		<div id="detail" style="float:left; ">
			<div class="detail_wrapper" style="width:82%; margin: 0 auto; padding-top: 18px">
				<p style="margin-bottom:20px">선택된 사진</p>
				<img src="" width="100%" height="170px" alt="" id="image">
				<div class="text" >
					<div class="info" style="width:73%">
						<p style="color: rgba(255, 255, 255, 0.6)">카메라</p>
						<p style="margin-bottom:10px; font-size: 14px" id="cam_num"></p>
					</div>
					<div class="info" style="width:65%">
						<p style="color: rgba(255, 255, 255, 0.6)">일시</p>
						<p style="font-size: 14px; display:block;" id="date">2020년 08월 20일 20시 20분</p>
					</div>
					<div style="width:35%" class="person">
						<p style="font-padding-bottom:10px; color: rgba(255, 255, 255, 0.6)">인원수</p>
						<p style="font:40px bold; display:inline; color:#4abd9e" id="people">2</p><p style="display:inline">명</p>
					</div>
				</div>
				<span onclick="imgModalClose();" class="close">닫기</span>
			</div>
		</div>


</div>

<script>


  function showDetail( name, cameraID, regDate, peopleCNT ) {

    var row_count = document.querySelectorAll('div[id*="row"]').length;
    var modal = document.getElementById('detail');
    var content = document.getElementById('image');
    var cont = document.getElementById('cont');
    var value = cameraID;
    var real_value = cameraID;


    if(value == row_count) {
      value = Number(row_count)-Number(1);
    }
    var next = Number(value) + Number(1);
    var small1 = "row"+value;
    var small2 = "row"+next;
    for(var j=1 ; j<=row_count ; j++) {
      var r = "row"+j;
      var b = "right"+j;
      var cam = "cam_t"+j;

      var Row = document.getElementById(r);
      var Button = document.getElementById(b);
      var Camera = document.getElementsByClassName(cam);

      Camera[0].style.color = '#ffffff';
      Camera[0].style.borderColor = '#ffffff';
      Button.style.right = '30px';
      Row.style.width = '100%';
    }


    var row1 = document.getElementById(small1);
    var row2 = document.getElementById(small2);
    var detail = document.getElementById('detail');
    var button1 = document.getElementById('right'+value);
    var button2 = document.getElementById('right'+next);
    var camera = document.getElementsByClassName('cam_t'+real_value);


    var position = Number(326)*Number(value-1);
    // console.log(position);

    if(real_value==row_count) {
      detail.style.top = 'initial';
      detail.style.bottom = 20+"px";
    } else {
      detail.style.bottom = 'initial';
      detail.style.top = position+"px";
    }
    // console.log(detail.style.top);
    row1.style.width='70%';
    row2.style.width='70%';
	// fix
    button1.style.right = '300px';
    button2.style.right = '300px';
    camera[0].style.color = '#4abd9e';
    camera[0].style.borderColor = '#4abd9e';
    // cam_t.style.color = '#4abd9e';

    // 모달 창 보이게 설정
    // cont.style.width=70%;

    modal.style.display='block';
    content.src = './resources/images/original/'+name;
    document.getElementById('cam_num').innerHTML = cameraID;
    document.getElementById('date').innerHTML = regDate;
    document.getElementById('people').innerHTML = peopleCNT;
  }



  /* close 버튼 클릭시*/
  function imgModalClose(){
    var row_count = document.querySelectorAll('div[id*="row"]').length;
      for(var j=1 ; j<=row_count ; j++) {
        var r = "row"+j;
        var b = "right"+j;
        var cam = "cam_t"+j;
        var Row = document.getElementById(r);
        var Button = document.getElementById(b);
        var Camera = document.getElementsByClassName(cam);
        Row.style.width = '100%';
        Button.style.right = '15px';
        Camera[0].style.color = '#ffffff';
        Camera[0].style.borderColor = '#ffffff';
      }

      var modal = document.getElementById('detail');
      var content = document.getElementById('image');
      var cont = document.getElementById('cont');


      modal.style.display="none";
      cont.style.width = '83.1%';
      content.src = '';
  }

  /* jQuery */
  /* scroll control button */

  moveLeftScroll = function(id) {
    var wrapper = '.total_wrapper'+id;
    console.log(wrapper);
    var pos = $(wrapper).scrollLeft();
    $(wrapper).scrollLeft(pos + 200);
  };
  moveRightScroll = function(id) {
    var wrapper = '.total_wrapper'+id;
    console.log(wrapper);
    var pos = $(wrapper).scrollLeft();
    $(wrapper).scrollLeft(pos - 200);
  };


  // 이미지가 없는 row 처리하는 부분

  <%
	for(var k=0 ; k<data1.camNum ; k++) {
		%>console.log(<%= k %>);<%
		if(img_check[k] == 0) {
  %>
  			var name = '.total_wrapper'+<%= k+1 %>+' .img_wrapper';
			console.log("i: "+<%= k %>+"name: "+name);

		 $('.total_wrapper'+<%= k+1 %>+' .img_wrapper').append('<div class="append">No Image</div>');

  <%
		}
	}
  %>



</script>
