<div id="cont">
	<%
	var top_pos=161;
	var start = 0;
	var img_check = new Array();
	for(var i=0 ; i<data1.camNum ; i++) {
		img_check[i] = 0;
	}
	for(var i=1 ; i<=data1.camNum ; i++) {
	%>
		<button id="right<%= i %>" style="top:<%= top_pos %>px;" class="right" type="button" value="<%= i %>" onclick="moveLeftScroll(this.value)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
		<button id="left<%= i %>" style="top:<%= top_pos %>px;" class="left" type="button" value="<%= i %>" onclick="moveRightScroll(this.value)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
		<p class="cam_t<%= i %>">CAMERA<%= i %></p>
		<div id="row<%= i %>" class="first" >
		  <div class="total_wrapper<%= i %>">
			<div class="img_wrapper">
		<%
		for(var j=start ; j<data2.length ; j++) {
		  if(data2[j].cameraID != i || j==data2.length-1) {
			start = j;
			if(j==data2.length-1)	start++;
				break;
		  }
		  img_check[i-1] = 1;
		%>
		<div class="img_date">
		   <img src="./resources/images/original/<%= data2[j].name %>" alt="" value="<%= data2[j].cameraID %>" onclick="showDetail('<%= data2[j].name %>', '<%= data2[j].cameraID %>', '<%= data2[j].regDate %>', '<%= data2[j].peopleCNT %>' );" />
		   <br><p style="display:inline-block;"><%= data2[j].originalDate %></p>
		   <p style="display: inline-block; float:right; padding-right: 20px;"><%= data2[j].peopleCNT %>명</p>
		 </div>
		<%
	  	}
		top_pos += 321;
		%>
				</div>
			</div>
		</div>
	<%
	}
	%>

		<!-- detail -->
		<div id="detail" style="float:left; ">
			<div class="detail_wrapper" style="width:82%; margin: 0 auto; padding-top: 18px">
				<p style="margin-bottom:20px">선택된 사진</p>
				<img src="" width="100%" height="170px" alt="" id="image">
				<div class="text" >
					<div class="info" style="width:73%">
						<p style="color: rgba(255, 255, 255, 0.6)">CAMERA </p>
						<p style="margin-bottom:10px; font-size: 14px" id="cam_num"></p>
					</div>
					<div class="info" style="width:65%">
						<p style="color: rgba(255, 255, 255, 0.6)">일시</p>
						<p style="font-size: 14px; display:block;" id="date">2020년 08월 20일 20시 20분</p>
					</div>
					<div style="width:35%" class="person">
						<p style="font-padding-bottom:10px; color: rgba(255, 255, 255, 0.6)">인원수</p>
						<p style="font:40px bold; display:inline; color:#4abd9e" id="people">2</p><p style="display:inline">명</p>
					</div>
				</div>
				<span onclick="imgModalClose();" class="close">닫기</span>
			</div>
		</div>
</div>
