
<div id="info_wrapper">
  <div class="site_info">
    <div class="site_wrapper">
      <p style="font-weight: bold; padding:17px 0;">사이트 정보</p>
      <div class="info_row">
        <div class="thumbnail" ></div>
        <span class="store"><%= data1.companyName %></span>
        <button id="setting" type="button" name="button" onclick="location.href='/setting/update'">수정</button>
      </div>
      <div class="info_div">
        <span><%= data1.phone %></span><br>
        <p style="padding:3px 0"><%= data1.location %></p>
      </div>

    </div>
  </div>
  <div class="cam_info">
    <div class="cam_wrapper">
      <p style="font-weight: bold; margin: 17px 0 10px 34px; text-align: left;">카메라 정보</p>
      <div class="table_wrapper">
        <table class="info_table" style="margin: 0 auto" width="95%">
	          <tr class="table_row">
	            <th>카메라 번호</th>
	            <th>전송 이미지 수(1시간)</th>
	            <th>최근 값</th>
	            <th>일정시간 평균 값</th>
	          </tr>

		  <%
		   var j = 0;
		   for(var i = 1; i<= data1.camNum; i++){
		   %>

		   <%
			 if(i==data1.camNum){
		   %>
			   <tr class="table_row" align="center">
				 <td class="last"><%= i %></td>
				 <td class="last imageCount">30</td>
				 <td class="last"><%= data6.length %></td>
				 <td class="last avg"></td>
			   </tr>
		   <%
	   		} else {
		   %>
			   <tr class="table_row" align="center">
   				<td><%= i %></td>
   	            <td class = "imageCount"></td>
   	            <td><%= data6.length %></td>
   	            <td class = "avg"></td>
     		  </tr>

		   <%
			   }
		   }
		   %>
          <!-- <tr class="table_row" align="center">
            <td>1</td>
            <td>30</td>
            <td>27</td>
            <td>28</td>
          </tr> -->
          <!-- <tr class="table_row" align="center">
            <td class="last">2</td>
            <td class="last">30</td>
            <td class="last">27</td>
            <td class="last">28</td>
          </tr> -->
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <% for(var i = 0; i< data1.camNum; i++){%>
    console.log(data3[i][3]);
    document.getElementsByClassName('imageCount')[<%= i %>].innerHTML = data3[i][3];
    document.getElementsByClassName('avg')[<%= i %>].innerHTML = data3[i][3];
  <% } %>
</script>
